<div class="flex flex-col flex-wrap max-w-5xl mx-auto px-6 md:px-24 py-8 md:py-10 font-light text-gray-900">

    <!-- Breadcrumb navigation -->
    <nav class="text-sm md:text-base mb-4 md:mb-8" aria-label="Breadcrumb">
        <a class="text-blue-800 underline" routerLink="/">Home</a>
        <span aria-hidden="true"> / </span>
        <span class="font-medium" aria-current="page">New user</span>
    </nav>

    <h3>Create new account</h3>
    <p>Enter your details below to create a new user account.</p>

        <form class="mt-4" [formGroup]="newUserForm">

            <div class="border border-gray-300 rounded-lg my-4 p-4">

                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 mb-6 group">
                        <input 
                            type="email" 
                            name="floating_email" 
                            id="floating_email" 
                            class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                                focus:outline-none focus:ring-0 peer" 
                            placeholder=" " 
                            required 
                            formControlName="email" 
                        />
                        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                            transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                            peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                            peer-focus:-translate-y-6">
                            Email address
                        </label>
                        <span class="text-red-600 text-xs font-medium" 
                            *ngIf="email.invalid && (email.dirty || email.touched)">{{ getErrorMessage(email, 'Email', '') }}
                        </span>
                    </div>
                    <div class="relative z-0 mb-6 group">
                        <input 
                            type="confirmEmail" 
                            name="floating_confirmEmail" 
                            id="floating_confirmEmail" 
                            class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                                focus:outline-none focus:ring-0 peer" 
                            placeholder=" " 
                            required 
                            formControlName="confirmEmail" 
                        />
                        <label for="floating_confirmEmail" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                            transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                            peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                            peer-focus:-translate-y-6">
                            Confirm email address
                        </label>
                        <span class="text-red-600 text-xs font-medium" 
                            *ngIf="confirmEmail.invalid && (confirmEmail.dirty || confirmEmail.touched)">{{ getErrorMessage(confirmEmail, 'Email confirmation', '') }}
                        </span>
                    </div>
                </div>
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 mb-6 group">
                        <input 
                            type="password" 
                            name="floating_password" 
                            id="floating_password" 
                            class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                                focus:outline-none focus:ring-0 peer" 
                            placeholder=" " 
                            required 
                            formControlName="password" 
                        />
                        <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                            transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                            peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                            peer-focus:-translate-y-6">
                            Password
                        </label>
                        <span class="text-red-600 text-xs font-medium" 
                              *ngIf="password.invalid && (password.dirty || password.touched)">{{ getErrorMessage(password, 'Password', '') }}
                        </span>
                    </div>
                    <div class="relative z-0 mb-6 group">
                        <input 
                            type="password" 
                            name="floating_confirmPassword" 
                            id="floating_confirmPassword" 
                            class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                                focus:outline-none focus:ring-0 peer" 
                            placeholder=" " 
                            required 
                            formControlName="confirmPassword" 
                        />
                        <label for="floating_lastName" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                            transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                            peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                            peer-focus:-translate-y-6">
                            Confirm password
                        </label>
                        <span class="text-red-600 text-xs font-medium" 
                              *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">{{ getErrorMessage(confirmPassword, 'Password confirmation', '') }}
                        </span>
                    </div>
                </div>
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 mb-6 group">
                        <input 
                            type="text" 
                            name="floating_firstName" 
                            id="floating_firstName" 
                            class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                                focus:outline-none focus:ring-0 peer" 
                            placeholder=" " 
                            required 
                            formControlName="firstName" 
                        />
                        <label for="floating_firstName" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                            transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                            peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                            peer-focus:-translate-y-6">
                            First name
                        </label>
                        <span class="text-red-600 text-xs font-medium" 
                              *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">{{ getErrorMessage(firstName, 'First name', '') }}
                        </span>
                    </div>
                    <div class="relative z-0 mb-6 group">
                        <input 
                            type="text" 
                            name="floating_lastName" 
                            id="floating_lastName" 
                            class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                                focus:outline-none focus:ring-0 peer" 
                            placeholder=" " 
                            required 
                            formControlName="lastName" 
                        />
                        <label for="floating_lastName" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                            transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                            peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                            peer-focus:-translate-y-6">
                            Last name
                        </label>
                        <span class="text-red-600 text-xs font-medium" 
                              *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">{{ getErrorMessage(lastName, 'Last name', '') }}
                        </span>
                    </div>
                </div>
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 mb-6 group">
                        <input 
                            type="text" 
                            name="floating_phone" 
                            id="floating_phone" 
                            class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                                focus:outline-none focus:ring-0 peer" 
                            placeholder=" " 
                            required 
                            formControlName="phone" 
                        />
                        <label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                            transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                            peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                            peer-focus:-translate-y-6">
                            Phone number
                        </label>
                        <span class="text-red-600 text-xs font-medium" 
                              *ngIf="phone.invalid && (phone.dirty || phone.touched)">{{ getErrorMessage(phone, 'Phone number', '') }}
                        </span>
                    </div>
                    <div class="relative z-0 mb-6 group">
                        <input 
                            type="text" 
                            name="floating_address" 
                            id="floating_address" 
                            class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                                focus:outline-none focus:ring-0 peer" 
                            placeholder=" " 
                            required 
                            formControlName="address" 
                        />
                        <label for="floating_address" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                            transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                            peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                            peer-focus:-translate-y-6">
                            Address
                        </label>
                        <span class="text-red-600 text-xs font-medium" 
                              *ngIf="address.invalid && (address.dirty || address.touched)">{{ getErrorMessage(address, 'Address', '') }}
                        </span>
                    </div>
                </div>
            </div>   
            
            <input type="submit" 
                class="bg-gray-800 hover:bg-gray-300 disabled:bg-gray-300 disabled:hover:bg-gray-300 text-gray-200 hover:text-gray-700 
                    disabled:text-gray-100 disabled:hover:text-gray-100 transition font-normal hover:font-medium 
                    disabled:hover:font-normal text-sm md:text-base rounded px-3 py-2 my-6 cursor-pointer" 
                [disabled]="newUserForm.invalid" 
                value="Create new user" 
                (click)="send()"
            >
        </form>
</div>