<!-- CHECKOUT COMPONENT -->

<div class="flex flex-col flex-wrap max-w-5xl mx-auto px-6 md:px-24 py-4 md:py-6 font-light text-gray-900">

    <!-- Breadcrumb navigation -->
    <p class="text-sm md:text-base mb-4 md:mb-8">
        <a routerLink="/">Home</a>
        >
        <a routerLink="/shop">Shop</a>
        >
        <a routerLink="/cart">Shopping cart</a>
        > Checkout
    </p>

    <h2 class="mb-4 md:mb-8">Checkout</h2>

    <h3 class="mb-2">Order details</h3>

    <div class="my-4" *ngIf="(products.length)"> <!-- Only display this div if 'products' array is populated -->
        <!-- Headings -->
        <div class="border rounded-t text-sm md:text-base p-1 md:p-2">
            <!-- 4 column grid -->
            <div class="grid grid-flow-row grid-cols-4 justify-start items-start font-medium">
                <div class="basis-1/5"></div>
                <div class="basis-2/5">Item</div>
                <div class="basis-1/5">Quantity</div>
                <div class="basis-1/5 text-end">Subtotal</div>
            </div>
        </div>

        <!-- Border div -->
        <div class="border border-t-0 border-b-0">
            <!-- Iterate over cart items -->
            <div class="text-sm md:text-base p-1 md:p-2" *ngFor="let product of products; let i = index">
            
                <!-- 4 column grid -->
                <div class="grid grid-flow-row grid-cols-4 justify-start items-start">

                    <!-- Col 1: Image -->
                    <div class="basis-1/5">
                        <img src="../../assets/{{product.image}}" width="60px" height="60px" alt="{{product.name}}">
                    </div>

                    <!-- Col 2: Name & price -->
                    <div class="flex flex-col basis-2/5">
                        <p class="font-medium">{{ product.name }}</p>
                        <p class="font-base">{{ product.price | currency : 'GBP' : 'symbol' : '1.0-0' }}</p>
                    </div>
                    
                    <!-- Col 3: Quantity -->
                    <div class="basis-1/5">
                        <p>{{ product.quantity }}</p>
                    </div>
                    
                    <!-- Col 4: Total cost (quantity x price) -->
                    <div>
                        <p class="basis-1/5 text-end">{{ product.quantity * product.price | currency : 'GBP' : 'symbol' : '1.0-0' }}</p>    
                    </div>
                </div>
            </div>
        </div>

        <!-- Totals -->
        <div class="border rounded-b font-normal text-sm md:text-base p-1 md:p-2">
            <!-- 4 column grid -->
            <div class="grid grid-flow-row grid-cols-4 justify-start items-start">
                <div class="basis-1/5"></div>
                <div class="basis-2/5"></div>
                <div class="basis-1/5">Subtotal</div>
                <div class="basis-1/5 text-end">{{ subTotal | currency : 'GBP' : 'symbol' : '1.0-0' }}</div>
            </div>
            <div class="grid grid-flow-row grid-cols-4 justify-start items-start">
                <div class="basis-1/5"></div>
                <div class="basis-2/5"></div>
                <div class="basis-1/5">Tax</div>
                <div class="basis-1/5 text-end">{{ tax | percent }}</div>
            </div>
            <div class="grid grid-flow-row grid-cols-4 justify-start items-start">
                <div class="basis-1/5"></div>
                <div class="basis-2/5"></div>
                <div class="basis-1/5">Delivery</div>
                <div class="basis-1/5 text-end">{{ delivery | currency : 'GBP' : 'symbol' : '1.0-0' }}</div>
            </div>
            <div class="grid grid-flow-row grid-cols-4 justify-start items-start font-medium">
                <div class="basis-1/5"></div>
                <div class="basis-2/5"></div>
                <div class="basis-1/5">Total</div>
                <div class="basis-1/5 text-end">{{ subTotal * (tax + 1) + delivery | currency : 'GBP' : 'symbol' : '1.0-0' }}</div>
            </div>
        </div>
    </div>

    <!-- Your details -->
    <h3 class="mb-2 mt-2 md:mt-4">Your details</h3>
    <p>Please enter your details below and click the 'Order now' button to make your purchase.</p>
    <p>(All fields are required).</p>

    <!-- checkoutForm -->
    <form class="mt-4" autocomplete="off" [formGroup]="checkoutForm">

        <div class="border border-gray-300 rounded-lg my-4 p-4">
            <!-- Two column grid -->
            <div class="grid md:grid-cols-2 md:gap-6">
                <!-- First name -->
                <div class="relative z-0 w-full mb-6 group">
                    <input 
                        type="text" 
                        name="floating_first_name" 
                        id="floating_first_name" 
                        class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                            focus:outline-none focus:ring-0 peer" 
                        placeholder=" " 
                        required 
                        formControlName="firstName"
                    />
                    <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                        peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                        peer-focus:-translate-y-6">
                        First name
                    </label>
                    <span class="text-red-600 text-xs font-medium" 
                          *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">{{ getErrorMessage(firstName, 'First name', '') }}
                    </span>
              </div>
              <!-- Last name -->
              <div class="relative z-0 w-full mb-6 group">
                    <input 
                        type="text" 
                        name="floating_last_name" 
                        id="floating_last_name" 
                        class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                            focus:outline-none focus:ring-0 peer" 
                        placeholder=" " 
                        required 
                        formControlName="lastName"
                    />
                    <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 
                        duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                        peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                        peer-focus:-translate-y-6">
                        Last name
                    </label>
                    <span class="text-red-600 text-xs font-medium" 
                        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">{{ getErrorMessage(lastName, 'Last name', '') }}
                    </span>
                </div>
            </div>
            <!-- Two column grid -->
            <div class="grid md:grid-cols-2 md:gap-6">
                <!-- Email -->
                <div class="relative z-0 w-full mb-6 group">
                    <input 
                        type="email" 
                        pattern="^(.+)@(.+)$"
                        name="floating_email" 
                        id="floating_email" 
                        class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                            focus:outline-none focus:ring-0 peer" 
                        placeholder=" " 
                        required 
                        formControlName="email"
                    />
                    <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 
                        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                        Email address
                    </label>
                    <span class="text-red-600 text-xs font-medium" 
                          *ngIf="email.invalid && (email.dirty || email.touched)">{{ getErrorMessage(email, 'Email', 'name@email.com') }}
                    </span>
                </div>
                <!-- Phone number -->
                <div class="relative z-0 w-full mb-6 group">
                    <input 
                        type="tel" 
                        name="floating_phone" 
                        id="floating_phone" 
                        class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                            focus:outline-none focus:ring-0 peer" 
                        placeholder=" " 
                        required 
                        formControlName="phone"
                    />
                    <label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                        transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 
                        peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                        Phone number
                    </label>
                    <span class="text-red-600 text-xs font-medium" 
                          *ngIf="phone.invalid && (phone.dirty || phone.touched)">{{ getErrorMessage(phone, 'Phone', '') }}
                    </span>
                </div>
            </div>
            <!-- Address -->
            <div class="relative z-0 w-full mb-6 group">
                <input 
                    type="text" 
                    name="floating_address" 
                    id="floating_address" 
                    class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                        focus:outline-none focus:ring-0 peer" 
                    placeholder=" " 
                    required 
                    formControlName="address"
                />
                <label for="floating_address" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 
                    transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 
                    peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                    Address
                </label>
                <span class="text-red-600 text-xs font-medium" 
                      *ngIf="address.invalid && (address.dirty || address.touched)">{{ getErrorMessage(address, 'Address', '') }}
                </span>
            </div>
            <!-- Three column grid -->
            <div class="grid md:grid-cols-3 md:gap-6">
                <!-- Card number -->
                <div class="relative z-0 w-full mb-6 group">
                    <input 
                        type="text" 
                        pattern="\d{16}"  
                        name="floating_card_number" 
                        id="floating_card_number" 
                        class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                            focus:outline-none focus:ring-0 peer" 
                        placeholder=" " 
                        required 
                        formControlName="cardNumber"
                    />
                    <label for="floating_card_number" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 
                        duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                        peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                        peer-focus:-translate-y-6">
                        Card number (16 digits)
                    </label>
                    <span class="text-red-600 text-xs font-medium" 
                          *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)">{{ getErrorMessage(cardNumber, 'Card number', '0000000000000000') }}
                    </span>
                </div>
                <!-- Card expiry date -->
                <div class="relative z-0 w-full mb-6 group">
                    <input 
                        type="text" 
                        pattern="\d{2}/\d{2}" 
                        name="floating_card_expiry" 
                        id="floating_card_expiry" 
                        class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                            focus:outline-none focus:ring-0 peer" 
                        placeholder=" " 
                        required 
                        formControlName="cardExpiry"
                    />
                    <label for="floating_card_expiry" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 
                        duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                        peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                        peer-focus:-translate-y-6">
                        Card expiry date (mm/yy)
                    </label>
                    <span class="text-red-600 text-xs font-medium" 
                          *ngIf="cardExpiry.invalid && (cardExpiry.dirty || cardExpiry.touched)">{{ getErrorMessage(cardExpiry, 'Card expiry date', '12/27') }}
                    </span>
                </div>
                <!-- Card CVV -->
                <div class="relative z-0 w-full mb-6 group">
                    <input 
                        type="text" 
                        pattern="\d{3}" 
                        name="floating_card_cvv" 
                        id="floating_card_cvv" 
                        class="block py-2 px-0 w-full text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 focus:border-blue-500 
                            focus:outline-none focus:ring-0 peer" 
                        placeholder=" " 
                        required 
                        formControlName="cardCode"
                    />
                    <label for="floating_card_cvv" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 
                        duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 
                        peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 
                        peer-focus:-translate-y-6">
                        Three-digit card security code (000)
                    </label>
                    <span class="text-red-600 text-xs font-medium" 
                          *ngIf="cardCode.invalid && (cardCode.dirty || cardCode.touched)">{{ getErrorMessage(cardCode, 'Card code', '123') }}
                    </span>
                </div>
            </div>
        </div>   

        <div class="flex justify-end">
            <div class="flex flex-col">
                <a class="text-blue-500 underline cursor-pointer text-end mb-2" (click)="toggleModal()">View the terms and conditions</a>
                <div class="flex">
                    <input 
                        type="checkbox" 
                        name="accept" 
                        id="accept" 
                        class="me-3"
                        formControlName="accept"
                    >
                    <label for="accept">Accept the terms and conditions</label>
                </div>
            </div>
        </div>

        <div class="flex justify-between">
            <button type="button" class="bg-gray-800 text-gray-200 hover:bg-gray-300 hover:text-gray-700 transition font-normal hover:font-medium text-sm md:text-base rounded px-3 py-2 my-6" routerLink="/cart">
                < Back to cart
            </button> 
            <input type="submit" 
                class="bg-gray-800 hover:bg-gray-300 disabled:bg-gray-300 disabled:hover:bg-gray-300 text-gray-200 hover:text-gray-700 
                    disabled:text-gray-100 disabled:hover:text-gray-100 transition font-normal hover:font-medium 
                    disabled:hover:font-normal text-sm md:text-base rounded px-3 py-2 my-6 cursor-pointer" 
            [disabled]="checkoutForm.invalid" 
            value="Order now" 
            (click)="send()"
            (click)="saveToFirestore()"
            >  
        </div>

    </form>
</div>

<!-- MODAL -->
<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3>
          Terms and conditions
        </h3>
        <h3 (click)="toggleModal()" class="cursor-pointer hover:text-gray-400">
            X
        </h3>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <p class="my-4 leading-relaxed">
          General Data Protection Regulation (GDPR)<br><br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo magnam adipisci animi natus officia, odit voluptatem asperiores cupiditate error dicta ex, debitis reprehenderit quisquam exercitationem, impedit voluptatum ut quod temporibus?
          Distinctio, corrupti. Iure temporibus ex laudantium explicabo adipisci vitae quaerat quidem minus aperiam odio vero, unde necessitatibus eveniet aliquid, deserunt, perferendis suscipit. Quam architecto rerum nisi excepturi vitae error autem.
          Impedit qui odio similique obcaecati beatae sit sequi quidem placeat dolorum laborum libero dicta soluta quaerat consequuntur aliquam maiores, velit, dolorem iusto repellat ad eos, officia labore! Tempora, neque exercitationem?
        </p>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 rounded-b">
        <button type="button" class="bg-gray-800 text-gray-200 hover:bg-gray-300 hover:text-gray-700 transition font-normal hover:font-medium text-sm md:text-base rounded px-3 py-2 my-6" (click)="toggleModal()">
            Close
        </button> 
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-black/70 backdrop-blur-sm"></div>