<!-- Latest Arrivals Section -->
<div class="flex flex-col items-center max-w-5xl mx-auto">
    <h1 class="mt-10 text-center">Say Hello To Our<br>Latest Arrivals</h1>

    <div>
        <img src="../../assets/images/shirt_hero.png" class="my-12" alt="">
    </div>

    <button class="transition duration-150 ease-in-out text-gray-900 hover:text-gray-100 bg-transparent hover:bg-gray-400 font-small md:font-medium border hover:border-gray-400 border-gray-900 py-1 md:py-2 px-4 md:px-6 mb-8 rounded">
        <a href="#shop_shirts">Shop now |</a>   
    </button>

</div>

<!-- Our Products Section -->
<div id="our_products" class="flex flex-col items-center max-w-6xl mx-auto bg-gray-900 font-light text-gray-100 px-8 md:px-24 py-8 md:py-16">
    <h2 class="mb-4 md:mb-10">Our Products</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum quo voluptatibus iusto pariatur dicta harum nostrum maiores et, labore in reiciendis distinctio. Quisquam qui adipisci eaque labore officia omnis consequuntur?
    Autem modi porro explicabo consectetur. Non soluta iusto tenetur facere quae, voluptas fugiat dolorum sequi voluptate ipsa nulla hic amet? Animi corrupti tempora, sunt possimus quisquam dignissimos esse natus reprehenderit.
    Quos iusto impedit in molestias quidem architecto non nostrum dolores laborum dolorem, accusamus veniam odit, tempore necessitatibus debitis voluptate officiis quam odio nisi nulla ratione! Consectetur quos eveniet aspernatur debitis!</p>
</div>

<!-- Shop Shirts Section -->
<div id="shop_shirts" class="flex flex-col flex-wrap max-w-5xl mx-auto px-8 md:px-24 py-8 md:py-10 items-center font-light text-gray-900">

    <h2 class="mb-4 md:mb-10">Shop Shirts</h2>

    <div class="grid grid-flow-row gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">

        <!-- Shirts Card 1 -->
        <div class="border border-gray-300 rounded-lg">
            <div class="relative overflow-hidden bg-cover bg-no-repeat">
                <img class="p-4" src="../../assets/images/creatorShirt.png" alt="" />
            </div>
            <div class="p-6">
                <h3 class="text-grey-900 mb-2">Creator Shirt</h3>
                <p class="text-grey-900 text-lg border-b border-gray-200 py-2">£20</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Ideas</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Solutions</p>
                <p class="text-grey-900 text-sm py-1">Change</p>
                <!-- <div class="my-2">
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-medium text-gray-700 mr-2">#creator</span>
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-medium text-gray-700 mr-2">#shirt</span>  
                </div> -->
            </div>
        </div>

        <!-- Shirts Card 2 -->
        <div class="border border-gray-300 rounded-lg">
            <div class="relative overflow-hidden bg-cover bg-no-repeat">
                <img class="p-4" src="../../assets/images/doerShirt.png" alt="" />
            </div>
            <div class="p-6">
                <h3 class="text-grey-900 mb-2">Doer Shirt</h3>
                <p class="text-grey-900 text-lg border-b border-gray-200 py-2">£20</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Worker</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Structured</p>
                <p class="text-grey-900 text-sm py-1">Process</p>

            </div>
        </div>

        <!-- Shirts Card 3 -->
        <div class="border border-gray-300 rounded-lg">
            <div class="relative overflow-hidden bg-cover bg-no-repeat">
                <img class="p-4" src="../../assets/images/translatorShirt.png" alt="" />
            </div>
            <div class="p-6">
                <h3 class="text-grey-900 mb-2">Translator Shirt</h3>
                <p class="text-grey-900 text-lg border-b border-gray-200 py-2">£20</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Ideas</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Project</p>
                <p class="text-grey-900 text-sm py-1">Delegate</p>
            </div>
        </div>
 
        <!-- Shirts Card 4 -->
        <div class="border border-gray-300 rounded-lg">
            <div class="relative overflow-hidden bg-cover bg-no-repeat">
                <img class="p-4" src="../../assets/images/beCuriousShirt.png" alt="" />
            </div>
            <div class="p-6">
                <h3 class="text-grey-900 mb-2">Be Curious Shirt</h3>
                <p class="text-grey-900 text-lg border-b border-gray-200 py-2">£50</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Curious</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Curious</p>
                <p class="text-grey-900 text-sm py-1">Curious</p>
            </div>
        </div>

        <!-- Shirts Card 5 -->
        <div class="border border-gray-300 rounded-lg">
            <div class="relative overflow-hidden bg-cover bg-no-repeat">
                <img class="p-4" src="../../assets/images/proShirt.png" alt="" />
            </div>
            <div class="p-6">
                <h3 class="text-grey-900 mb-2">Pro Shirt</h3>
                <p class="text-grey-900 text-lg border-b border-gray-200 py-2">£50</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Pro</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Pro</p>
                <p class="text-grey-900 text-sm py-1">Pro</p>
            </div>
        </div>
    </div>
</div>

<!-- Shop Books Section -->
<div id="shop_books" class="flex flex-col flex-wrap max-w-5xl mx-auto px-8 md:px-24 py-8 md:py-10 items-center font-light text-gray-900">

    <h2 class="mb-4 md:mb-10">Shop Books</h2>

    <div class="grid grid-flow-row gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">

        <!-- Books Card 1 -->
        <div class="border border-gray-300 rounded-lg">
            <div class="relative overflow-hidden bg-cover bg-no-repeat">
                <img class="p-4" src="../../assets/images/wywmBook.png" alt="" />
            </div>
            <div class="p-6">
                <h3 class="text-grey-900 mb-2">WYWM Book</h3>
                <p class="text-grey-900 text-lg border-b border-gray-200 py-2">£10</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Book</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Book</p>
                <p class="text-grey-900 text-sm py-1">Book</p>
                <!-- <div class="my-2">
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-medium text-gray-700 mr-2">#creator</span>
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-medium text-gray-700 mr-2">#shirt</span>  
                </div> -->
            </div>
        </div>

        <!-- Books Card 2 -->
        <div class="border border-gray-300 rounded-lg">
            <div class="relative overflow-hidden bg-cover bg-no-repeat">
                <img class="p-4" src="../../assets/images/beCuriousBook.png" alt="" />
            </div>
            <div class="p-6">
                <h3 class="text-grey-900 mb-2">Be Curious! Book</h3>
                <p class="text-grey-900 text-lg border-b border-gray-200 py-2">£10</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Book</p>
                <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Book</p>
                <p class="text-grey-900 text-sm py-1">Book</p>

            </div>
        </div>
    </div>
</div>