<!-- Shop Shirts Section -->
<div class="flex flex-col flex-wrap max-w-5xl mx-auto px-6 md:px-24 py-8 md:py-10 items-center font-light text-gray-900">

    <h2 class="mb-4 md:mb-10">Shop Shirts</h2>

    <div class="grid grid-flow-row gap-4 md:gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">

        <!-- Shirts Card -->
        <div class="border border-gray-300 rounded-lg cursor-pointer transition-transform hover:scale-105" *ngFor="let shirt of productList.shirts">
            <div class="cursor-pointer" [routerLink]="['/product', shirt.id]">

                <div class="relative overflow-hidden bg-cover bg-no-repeat">
                    <img class="p-4" src="../../assets/{{shirt.image}}" alt="" />
                </div>

                <div class="p-6">
                    <h4 class="text-grey-900 mb-2">{{ shirt.name }}</h4>
                    <p class="text-grey-900 text-lg border-b border-gray-200 py-2">{{ shirt.price | currency : 'GBP' : 'symbol' : '1.0-0' }}</p>
                    <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Ideas</p>
                    <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Solutions</p>
                    <p class="text-grey-900 text-sm py-1">Change</p>
                </div>

            </div>

            <button class="bg-gray-800 text-gray-200 hover:bg-gray-300 hover:text-gray-700 transition font-normal hover:font-medium text-sm md:text-base rounded px-3 py-2 ml-6 mb-6" (click)="addToCart(shirt)">
                Add to cart
            </button>
        </div>

    </div>
</div>

<!-- Shop Books Section -->
<div class="flex flex-col flex-wrap max-w-5xl mx-auto px-8 md:px-24 py-8 md:py-10 items-center font-light text-gray-900">

    <h2 class="mb-4 md:mb-10">Shop Books</h2>

    <div class="grid grid-flow-row gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">

        <!-- Books Card -->
        <div class="border border-gray-300 rounded-lg cursor-pointer transition-transform hover:scale-105" *ngFor="let book of productList.books">
            <div class="cursor-pointer" routerLink="/product">

                <div class="relative overflow-hidden bg-cover bg-no-repeat">
                    <img class="p-4" src="../../assets/{{book.image}}" alt="" />
                </div>

                <div class="p-6">
                    <h4 class="text-grey-900 mb-2">{{ book.name }}</h4>
                    <p class="text-grey-900 text-lg border-b border-gray-200 py-2">{{ book.price | currency : 'GBP' : 'symbol' : '1.0-0' }}</p>
                    <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Ideas</p>
                    <p class="text-grey-900 text-sm border-b border-gray-200 py-1">Solutions</p>
                    <p class="text-grey-900 text-sm py-1">Change</p>
                </div>

            </div>

            <button class="bg-gray-800 text-gray-200 hover:bg-gray-300 hover:text-gray-700 transition font-normal hover:font-medium text-sm md:text-base rounded px-3 py-2 ml-6 mb-6" (click)="addToCart(book)">
                Add to cart
            </button>
        </div>

    </div>
</div>