<!-- Latest Arrivals Section -->
<div class="flex flex-col items-center max-w-5xl mx-auto">
    <h1 class="mt-10 text-center">Say Hello To Our<br>Latest Arrivals</h1>

    <div>
        <img src="../../assets/images/shirt_hero.png" class="my-12" alt="A selection of With You With Me shirts">
    </div>

    <button class="transition duration-150 ease-in-out text-gray-900 hover:text-gray-100 bg-transparent hover:bg-gray-400 font-medium border text-xl md:text-2xl hover:border-gray-400 border-gray-900 py-2 md:py-2 px-4 md:px-6 mb-8 rounded">
        <a routerLink="shop">Shop now!</a>   
    </button>

</div>

<!-- About Us Section -->
<div id="our_products" class="flex flex-col items-center max-w-6xl mx-auto bg-gray-900 font-light text-gray-100 px-8 md:px-24 py-8 md:py-16">
    <h2 class="mb-4 md:mb-10">About Us</h2>
    <p>Welcome to With You With Me Shop, your one-stop destination for exclusive With You With Me branded products. 
        We are passionate about offering high-quality items that reflect the essence of With You With Me's mission. 
        From stylish shirts that make a statement to thought-provoking books that inspire, each product in our collection 
        embodies the spirit of connection and personal growth. At With You With Me Shop, we aim to provide you with not just 
        merchandise, but a meaningful experience that resonates with the values we hold dear. Join us on this journey, and let 
        our products be a reminder that, wherever you go, With You With Me.</p>
</div>

<!-- Product Spotlight Section -->
<div id="product_spotlight" class="flex flex-col items-center max-w-6xl mx-auto font-light text-gray-900 px-8 md:px-24 py-8 md:py-16">
    <h2 class="mb-2 md:mb-6">Product Spotlight</h2>
    <div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 md:mx-24">
        <img src="../../assets/images/beCuriousBook.png" class="w-64" alt="Be Curious book">
        <div class="mt-6">
            <p class="font-medium">Be Curious! - Embracing the Power of Inquiry</p>
            <br>
            <p>Explore the transformative power of curiosity with 'Be Curious!' This With You With Me book invites you to embrace inquiry 
                for personal and professional growth. Written by experts, it unravels the secrets of lifelong learning, innovation, and 
                adaptability. Dive into this journey of self-discovery and unlock your boundless potential. 
                <br>
                <br>
                'Be Curious!' — your guide to a curious adventure!
            </p>
        </div>
    </div>
</div>