<!-- Latest Arrivals Section -->
<div class="flex flex-col items-center max-w-5xl mx-auto">
    <h1 class="mt-10 text-center">Say Hello To Our<br>Latest Arrivals</h1>

    <div>
        <img src="../../assets/images/shirt_hero.png" class="my-12" alt="A selection of With You With Me shirts">
    </div>

    <button class="transition duration-150 ease-in-out text-gray-900 hover:text-gray-100 bg-transparent hover:bg-gray-400 font-medium border text-xl md:text-2xl hover:border-gray-400 border-gray-900 py-2 md:py-2 px-4 md:px-6 mb-8 rounded">
        <a routerLink="shop">Shop now!</a>   
    </button>

</div>

<!-- About Us Section -->
<div id="our_products" class="flex flex-col items-center max-w-6xl mx-auto bg-gray-900 font-light text-gray-100 px-8 md:px-24 py-8 md:py-16">
    <h2 class="mb-4 md:mb-10">About Us</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum quo voluptatibus iusto pariatur dicta harum nostrum maiores et, labore in reiciendis distinctio. Quisquam qui adipisci eaque labore officia omnis consequuntur?
    Autem modi porro explicabo consectetur. Non soluta iusto tenetur facere quae, voluptas fugiat dolorum sequi voluptate ipsa nulla hic amet? Animi corrupti tempora, sunt possimus quisquam dignissimos esse natus reprehenderit.
    Quos iusto impedit in molestias quidem architecto non nostrum dolores laborum dolorem, accusamus veniam odit, tempore necessitatibus debitis voluptate officiis quam odio nisi nulla ratione! Consectetur quos eveniet aspernatur debitis!</p>
</div>

<!-- Product Spotlight Section -->
<div id="product_spotlight" class="flex flex-col items-center max-w-6xl mx-auto font-light text-gray-900 px-8 md:px-24 py-8 md:py-16">
    <h2 class="mb-2 md:mb-6">Product Spotlight</h2>
    <div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 md:mx-24">
        <img src="../../assets/images/beCuriousBook.png" class="w-64" alt="Be Curious book">
        <div class="mt-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti dolorum pariatur accusamus possimus, hic earum omnis similique itaque delectus, nemo error velit qui obcaecati dolorem commodi consequuntur maiores explicabo quasi.</div>
    </div>
</div>